%meta{property: 'og:title', content: 'Rails Girls Kraków 2016'}
%meta{property: 'og:description', content: 'Rails Girls comes to Kraków for the fifth time! Join the free, two-day crash-course to the exciting world of building web applications with Ruby on Rails.'}
%meta{property: 'og:image', content: URI.join(root_url, image_path('fb.png'))}
