.thanks
  = image_tag 'rgkrk-thanks.png'

  %h1 Registration closed

  %p
    We're sorry if you didn't get a chance to register. But don't worry,
    %br
    it's not the last Rails Girls event in the world :)

  %p
    Keep an eye out for
    = link_to 'workshops', 'http://www.webmus.es/pl/wydarzenia', target: '_blank'
    and
    = link_to 'start learning', 'http://www.webmus.es/pl/materialy', target: '_blank'
    on your own!

  %p
    If you registered, you'll find out if you got in on&nbsp;
    %strong> Friday May 8th
    \.

  %p Lots of love!

  %p= link_to 'railsgirls.com/krakow', 'http://railsgirls.com/krakow'
