.thanks
  = image_tag 'rgkrk-thanks.png'

  %h1 Thank you for submitting!

  %p
    The registration closes on&nbsp;
    %strong> Friday May 1st
    \.

  %p
    Exactly a week later, on&nbsp;
    %strong> Friday May 8th
    \, we'll let you know if you got in.

  %p Good luck!

  %p= link_to 'railsgirls.com/krakow', 'http://railsgirls.com/krakow'
