.thanks
  = image_tag 'inbox.png'

  %h1 Thank you for submitting!

  %p
    The registration closes on&nbsp;
    %strong> April 1st
    \.

  %p
    Exactly a week later, on&nbsp;
    %strong> April 8th
    \, we'll let you know if you got in.

  %p Good luck!

  %p= link_to 'railsgirls.com/krakow', 'http://railsgirls.com/krakow'

  %small
    An email with this info should be in your inbox any time soon.
    If you don't receive it, you might have mistyped your address.
    %br
    In that case drop us a line at
    = mail_to 'railsgirlskrakow@gmail.com', 'railsgirlskrakow@gmail.com'
    to make sure that we can contact you :)
