<div class="wrapper">
  <div class="header">
    <ul class='menu'>
      {{#link-to 'form' tagName='li'}}Formularz{{/link-to}}
      {{#link-to 'pending_submissions' tagName='li'}}Do Ocenienia{{/link-to}}
      {{#link-to 'submissions' tagName='li'}}Wszystkie{{/link-to}}
      {{#link-to 'results' tagName='li'}}Ocenione{{/link-to}}
    </ul>
  </div>

  <div class="content">
    {{outlet}}
  </div>

  <div class="footer">
  </div>
</div>
