<h1>Lista zgłoszeń</h1>

<div class='upload'>
  <p>Wczytaj listę zgłoszeń z Wufoo w formacie: Tabs (.txt) </p>
  <form action='/attendees/upload' method='post' enctype="multipart/form-data" accept-charset="UTF-8">
    <input type='file' name='file'>
    <input type='submit' value='Prześlij'>
  </form>
</div>

<div>
  <ol>
    {{#each attendee in attendees}}
      <li>
        {{attendee_link attendee}}, wiek: {{attendee.age}}
      </li>
    {{/each}}
  </ol>
</div>

