<table class='attendees'>
  <tr>
    <th>Imię i nazwisko</th>
    <td></td>
  </tr>
  <tr>
    <th>Email</th>
    <td></td>
  </tr>
  <tr>
    <th>Miejsce nauki/pracy</th>
    <td></td>
  </tr>
  <tr>
    <th>Czy uczyłaś się już programować? A może masz już jakieś doświadczenie?</th>
    <td></td>
  </tr>
  <tr>
    <th>Jaki jest Twój poziom języka angielskiego?</th>
    <td></td>
  </tr>
  <tr>
    <th>Z jakiego systemu operacyjnego korzystasz?</th>
    <td></td>
  </tr>
  <tr>
    <th>Dlaczego chcesz uczestniczyć w Rails Girls? Czy wiesz, w jaki sposób będziesz mogła wykorzystać wiedzę zdobytą podczas warsztatów?</th>
    <td></td>
  </tr>
</table>

<form action='/attendees/upload' method='post' enctype="multipart/form-data" accept-charset="UTF-8">
  <input type='file' name='file'>
  <input type='submit' value='Prześlij'>
</form>

<ul>
  {{#each attendee in attendees}}
    <li>{{#link-to 'attendee' attendee}}{{attendee.name}}{{/link-to}}</a></li>
  {{/each}}
</ul>

{{#link-to 'dashboard'}}Dashboard{{/link-to}}
