<div>
  <form action='/attendees/upload' method='post' enctype="multipart/form-data" accept-charset="UTF-8">
    <input type='file' name='file'>
    <input type='submit' value='Prześlij'>
  </form>
</div>

<div>
  <ol>
    {{#each attendee in attendees}}
      <li>
        {{attendee_link attendee}}, wiek: {{attendee.age}}
      </li>
    {{/each}}
  </ol>
</div>

<div class='bottom'>
  {{#link-to 'dashboard' class='button'}}Wróć na główną{{/link-to}}
</div>
