<div class='attendee'>
  {{partial "attendee"}}
</div>

<div class='navigation'>
  {{#link-to "attendee" prev_id id='prev' class='button prev'}} poprzednie zgłoszenie {{/link-to}}
  {{#link-to "attendee" next_id id='next' class='button next'}} następne zgłoszenie {{/link-to}}
</div>

<div class='rating'>
  {{partial "rating"}}
</div>
