<div>
  <form action='/attendees/upload' method='post' enctype="multipart/form-data" accept-charset="UTF-8">
    <input type='file' name='file'>
    <input type='submit' value='Prześlij'>
  </form>
</div>

<div>
  <ul>
    {{#each attendee in attendees}}
      <li>{{#link-to 'attendee' attendee}}{{attendee.name}}{{/link-to}}</a></li>
    {{/each}}
  </ul>
</div>

<div class='bottom'>
  {{#link-to 'dashboard' class='button'}}Wróć na główną{{/link-to}}
</div>
