{{partial "submission"}}

<div class='navigation'>
  {{#link-to "pending_submission" prev_id id='prev' class='button prev'}} poprzednie zgłoszenie {{/link-to}}
  {{#link-to "pending_submission" next_id id='next' class='button next'}} następne zgłoszenie {{/link-to}}
</div>

{{partial 'rating'}}
{{partial 'comments'}}
