<h1>Wyniki</h1>

<div>
  <ol>
    {{#each submission in results}}
      <li>
        {{submission_link submission}}, wiek: {{submission.age}}, średnia ocena: {{submission.average_rate}}
      </li>
    {{/each}}
  </ol>
</div>

