<h1>Wyniki</h1>

<div>
  <ol>
    {{#each attendee in results}}
      <li>
        {{attendee_link attendee}}, wiek: {{attendee.age}}, średnia ocena: {{attendee.average_rate}}
      </li>
    {{/each}}
  </ol>
</div>

