<h1>Wyniki</h1>

<form action='/results.txt' method='get'>
  <input type='submit' value='Pobierz plik *.txt' class='button' />
</form>

<div>
  <ol>
    {{#each attendee in results}}
      <li>
        {{attendee_link attendee}}, wiek: {{attendee.age}}, średnia ocena: {{attendee.average_rate}}
      </li>
    {{/each}}
  </ol>
</div>

