// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5%;
}

button, input, optgroup, select, textarea {
  margin: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d3360b;
}

.field {
  margin-bottom: 70px;

  input[type=text],
  input[type=email],
  input[type=number],
  textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-bottom: 2px solid #999;
    background: white;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background ease-in-out 0.2s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background ease-in-out 0.2s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background ease-in-out 0.2s;

    &:focus {
      outline: 0;
      border-bottom: 2px solid #d3360b;
      background: rgba(211, 54, 11, 0.1);
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      width: 100%;

      &:nth-child(even) {
        background-color: rgb(241,241,241);
      }

      th {
        font-weight: normal;
        width: 20%;
        text-align: center;
      }

      td.answer {
        text-align: center;
      }
    }
  }

  .radio-group {
    input[type=radio], label {
      display: inline-block;
      text-transform: none;
      font-weight: normal;
      color: black;
    }

    input[type=radio] {
      position: relative;
      top: -2px;
      margin-right: 10px;
    }

    & > label {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

input[type=submit] {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  background: #d3360b;
  padding: 16px 112px 16px;
  border-radius: 2px;
  font-weight: 900;
  border: 0;
  outline: 0;
  box-shadow: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
  letter-spacing: 2px;
}

