Thank you for your submission!

The registration for Rails Girls Kraków 2016 closes on April 1st.

Exactly one week later, on  April 8th, we'll let you know if you got in.

Good luck!

The Rails Girls Kraków Team

http://railsgirls.com/krakow
