<h1>Thank you for your submission!</h1>

<p>The registration for Rails Girls Kraków 2015 closes on <b>Friday May 1st</b>.</p>

<p>Exactly one week later, on <b>Friday May 8th</b>, we'll let you know if you got in.</p>

<p>Good luck!</p>

<i>The Rails Girls Kraków Team</i>
