<h1 style="font-size: 20px; color: #d3360b; margin-bottom: 30px;">Thank you for your submission!</h1>
<p>The registration for Rails Girls Kraków 2016 closes on <b>April 1st</b>.</p>
<p>Exactly one week later, on <b>April 8th</b>, we'll let you know if you got in.</p>
<p style="margin-bottom: 30px;">Good luck!</p>
<i style="display: block; margin-bottom: 5px;">The Rails Girls Kraków Team</i>
<a href="http://railsgirls.com/krakow" style="color: #d3360b;" target="_blank">railsgirls.com/krakow</a>
