Thank you for your submission!

The registration for Rails Girls Kraków 2015 closes on Friday May 1st.

Exactly one week later, on Friday May 8th, we'll let you know if you got in.

Good luck!

The Rails Girls Kraków Team

http://railsgirls.com/krakow
